
.main-heading{
       font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: bolder;
    color: #d1e3ff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #9b7dd5,
                 0 0 20px #3a429a,
                 0 0 40px #000000;
    -webkit-text-stroke: 0.0px rgb(7, 7, 7);
    background: url("https://wallpapercave.com/wp/wp12025797.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 150px;
       margin: 0;
      height:150px;
      position: relative;   

}
.main-background{
  margin: 0;
  height: 100vh;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: linear-gradient(-45deg, #ff6b6b, #6b73ff, #8b2f83, #92fe9d);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;

}
.phara-garph{
    color: aliceblue;    
    font-family: 'Orbitron', sans-serif;
    text-align: center;

}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.titel{
   position: absolute;
  top:0px;      /* adjust as needed */
  left: 30px;     /* adjust as needed */
  color: rgb(25, 23, 23);
  font-size: 40px;
  font-weight: bold;
  z-index: 10;

}